body {
  margin: 0;
  padding: 0;
  background: url('@/assets/game_background.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: white;
  overflow: hidden;
}
.timer-container {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 400px;
}

.timer-box{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.timer-bar-box {
  flex: 1;
  width: 300px;
  height: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 14.5%;
  top: 32%;
  z-index: -1;
}

.timer-bar {
  height: 20px;
  background: #F2484C;
  transition: width 1s linear;
  border: 2px #082D48 solid;
  border-radius: 5px;
}

.clock {
  width: 70px;
  height: 70px;
}

.shake-icon {
  color: white;
  animation: shake 0.5s infinite; /* 떨림 애니메이션 */  
}

.clock-icon{
  width: 80px;
  display: block;
}

.shaking {
  animation: shake 0.5s infinite;
  display: block;
  margin: 0 auto 5px auto; /* 중앙 정렬 */
}

@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0);
  }
  20%,
  60% {
    transform: translate(-2px, 0);
  }
  40%,
  80% {
    transform: translate(2px, 0);
  }
}

.swing-icon {
  transform-origin: bottom;
  animation: swing 2s infinite alternate ease-in-out;
}

@keyframes swing {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

.bubble {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율 유지 */
}

.resize-icon-big {
  width: 170px;
  height: 170px;
  position: absolute;
  animation: resize-big 1.5s infinite alternate ease-in-out;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.resize-icon-small {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: resize-small 3s infinite alternate ease-in-out;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

@keyframes resize-big {
  0% {
    transform: scale(1); /* 위치 고정 */
  }
  100% {
    transform: scale(1.5); /* 위치 고정 */
  }
}
@keyframes resize-small {
  0% {
    transform: scale(1); /* 위치 고정 */
  }
  100% {
    transform: scale(0.7); /* 위치 고정 */
  }
}

/* 나머지 스타일 */
.score-container {
  position: fixed;
  top: 30px;
  right: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #F2484C;
  display:flex;
  flex-direction: column;
}
.score-dog{
  width: 70px;
}
.key-list-container {
  margin-top: 40px;
}
.key-list-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.key-list-label {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.keys {
  font-size: 35px;
  font-weight: bold;
  color: #ffcc00;
}
.error-message {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
/* 3D Button */
.btn-3d {
	position: relative;
	display: inline-block;
	font-size: 22px;
	padding: 20px 60px;
	color: white;
	margin-bottom: 10px;
	border-radius: 6px;
	text-align: center;
	transition: top .01s linear;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  text-decoration: none;
}

.btn-3d:active {
  top: 9px;
}

/* 3D button colors */
.btn-3d.red {
  background-color: #e74c3c;
  box-shadow:
    0 0 0 1px #c63702 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #c24032,
    0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn-3d.red:active {
  box-shadow:
    0 0 0 1px #c63702 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-3d.blue {
  background-color: #6da2d9;
  box-shadow:
    0 0 0 1px #6698cb inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(110, 164, 219, 0.7),
    0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn-3d.blue:active {
  box-shadow:
    0 0 0 1px #6191c2 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-3d.green {
  background-color: #82c8a0;
  box-shadow:
    0 0 0 1px #82c8a0 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(126, 194, 155, 0.7),
    0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn-3d.green:active {
  box-shadow:
    0 0 0 1px #82c8a0 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-3d.purple {
  background-color: #cb99c5;
  box-shadow:
    0 0 0 1px #cb99c5 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(189, 142, 183, 0.7),
    0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn-3d.purple:active {
  box-shadow:
    0 0 0 1px #cb99c5 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-3d.cyan {
  background-color: #7fccde;
  box-shadow:
    0 0 0 1px #7fccde inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(102, 164, 178, 0.6),
    0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn-3d.cyan:active {
  box-shadow:
    0 0 0 1px #7fccde inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-3d.yellow {
  background-color: #54a7cc;
  box-shadow:
    0 0 0 1px #4385a4 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(67, 133, 164, 0.7),
    0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn-3d.yellow:active {
  box-shadow:
    0 0 0 1px #54a7cc inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}
.logo-box {
  position: relative;
}
.popup {
  background: white;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 275px;
  margin: auto;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.nickname-input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.rank-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.rank-button {
  background-color: #3498db;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.rank-button:hover {
  background-color: #2980b9;
}
.start-button {
  background-color: #ffcc00;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.animated-icons {
  position: relative;
  pointer-events: none;
}

.animated-icons img {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: none;
  z-index: 2;
}

.shower {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.animate .shower {
  animation: showerMove 2s infinite;
}

.animate .bubble {
  animation: bubbleMove 2s infinite;
}

@keyframes showerMove {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}

@keyframes bubbleMove {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

.dog-image {
  width: 300px;
  height: 300px;
  z-index: 1;
  border-radius: 8px;
  margin-top: 20px;
}
